//VARIABLES GLOBALES

//fonts
$main-font:'Cabin Condensed', sans-serif;
$text-w-regular: 400;
$text-w-light: 300;
$text-w-bold: 550;
$text-w-bolder: 800;
$font-sz-xs: 0.9em;
$font-sz-s: 1em;
$font-sz-m: 1.1em;
$font-sz-l: 1.5em;
$font-sz-xl: 2em;
$font-sz-xxl: 3.5em;
$font-sz-inter: 2.1em;
//colors
$main-color: #c2a11f;
$secondary-color: rgb(235, 207, 93);
$bg-gold-color: #e6d07a81;
$dark-color: #242215;
$white-color: #f3f1e9;
$bg-dark-color: #49433c3a;
$hover-color: #f8eaea;
$no-hover-color: #423d3d;
